.App-header {
  background-color: crimson;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* ---------------------Form Wrapping ---------------------- */

.todo-input{
  height: 4vh;
  border-radius: 5px;
  margin-right: 5px;
  border: 2px solid #ffb700;
}

.todo-button{
  height: 4.5vh;
  width: 5vh;
  color: red;
  border-radius: 5px;
  background-color: cyan;
}

.filter-todo{
  height: 4vh;
  width: 25.5vh;
}